* {
  margin: 0;
  background-color: rgb(218, 223, 228);
}

#root {
  display: grid;
  grid-template-columns: 20em auto;
  grid-template-rows: 92vh 8vh;
}

.side_bar {
  background-color: rgba(171, 235, 254, 0);
  height: 100vh;
  grid-row: span 2;
  border-right: rgb(48, 48, 48) solid 0.3px;
  padding-right: 5px;
}

.side_bar div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  padding-right: 80px;
  margin-top: 2px;
  border-radius: 50px 0px 80px 0px;
  border-top: black solid 0.01px;
  background-color: transparent;
  box-shadow: rgb(70, 81, 80) 0px -4px 7px 2px;
}

.side_bar div:hover {
  cursor: pointer;
  background-color: rgba(231, 137, 231, 0.848);
  /*background-color: rgb(171, 193, 254);*/
}

.side_bar div img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.side_bar div p {
  width: 0px;
  text-align: center;
  align-self: center;
}

.texts_holder {
  width: auto;
  height: 70vh;
}

.texts_holder {
  padding: 5em;
  overflow-y: scroll;
}

/* rgb(165, 239, 239)*/
.tools {
  width: auto;
  background-color: rgb(171, 234, 254);
  display: flex;
  justify-content: space-around;
}

.tools input {
  background-color: inherit;
  width: 140vh;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: rgb(48, 48, 48) solid 0.4px;
  border-radius: 1px;
  font-size: 19px;
  margin-top: 4px;
}

.texting {
  width: 164.6vh;
  height: 40px;
  background-color: rgb(171, 234, 254);
  padding: 0px 0px -23px 27px;
  display: flex;
  justify-content: center;
}

.texting button {
  display: grid;
  place-content: center;
  padding: 23px;
  background: transparent;
  border: black solid 0.001px;
  outline: none;
}

i {
  font-size: 25px;
  background-color: transparent;
}

.container p {
  box-shadow: black 0px 0px 0px 1px;
  padding: 12px;
  font-size: 19px;
}






::-webkit-scrollbar {
  display: block;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b4f1e5;
  border-radius: 10px;
  width: 25px;
  height: 40px;
}

::-webkit-scrollbar-corner {
  display: none;
}